html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #000000d9;
}

.hide {
    opacity: 0;
    pointer-events: none;
}


@media screen and (max-width: 768px) {
    #root {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}







@media screen and (min-width: 768px) and (max-width: 1023px) {
    #root {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 110px;
    }
}








@media screen and (min-width : 1024px) {
    #root {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 150px;
    }
}