@media screen and (min-width: 1201px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 40px;
    }

    .line {
        border: 1px solid white;
        width: 100%;
        margin: 0 auto;
    }
    .components{
        display: flex;
        justify-content: space-around;
    }
    .component {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    label {
        color: white;
        font-size: 22px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    span {
        color: #bdbdbd;
        font-size: 18px;
    }
    #follow-me{
        display: flex;
        justify-content: left;
        gap: 10px;
    }
    #follow-me img{
        width: 30px;
    }
    #follow-me img:hover{
        cursor: pointer;
    }
    .copyright {
        color: #bdbdbd;
    }
}