@media screen and (min-width: 1201px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    .line {
        border: 1px solid white;
        width: 1100px;
        margin: 0 auto;
    }

    .components {
        display: flex;
        justify-content: space-between;
        width: 1000px;
        margin: 0 auto;
    }

    .component {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    label {
        color: white;
        font-size: 18px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    span {
        color: #bdbdbd;
        font-size: 16px;
    }

    #follow-me {
        display: flex;
        justify-content: left;
        gap: 10px;
    }

    #follow-me img {
        width: 22px;
    }

    #follow-me img:hover {
        cursor: pointer;
    }

    .copyright {
        color: #bdbdbd;
    }
}