



@media screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 10px 0;
    }

    .line {
        border: 1px solid white;
        width: 250px;
        margin: 0 auto;
    }

    .components {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 220px;
        margin: 0 auto;
        align-items: center;
    }

    .component {
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: center;
    }

    footer label {
        color: white;
        font-size: 12px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    span {
        color: #bdbdbd;
        font-size: 12px;
    }

    #follow-me {
        display: flex;
        justify-content: left;
        gap: 4px;
    }

    #follow-me img {
        width: 12px;
    }

    #follow-me img:hover {
        cursor: pointer;
    }

    .copyright {
        color: #bdbdbd;
        font-size: 12px;
    }
}













@media screen and (min-width: 768px) and (max-width: 1023px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    .line {
        border: 1px solid white;
        width: 700px;
        margin: 0 auto;
    }

    .components {
        display: flex;
        justify-content: space-between;
        width: 550px;
        margin: 0 auto;
    }

    .component {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    footer label {
        color: white;
        font-size: 10px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    span {
        color: #bdbdbd;
        font-size: 10px;
    }

    #follow-me {
        display: flex;
        justify-content: left;
        gap: 6px;
    }

    #follow-me img {
        width: 14px;
    }

    #follow-me img:hover {
        cursor: pointer;
    }

    .copyright {
        color: #bdbdbd;
        font-size: 10px;
    }
}











@media screen and (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    .line {
        border: 1px solid white;
        width: 1000px;
        margin: 0 auto;
    }

    .components {
        display: flex;
        justify-content: space-between;
        width: 850px;
        margin: 0 auto;
    }

    .component {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    footer label {
        color: white;
        font-size: 14px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    span {
        color: #bdbdbd;
        font-size: 14px;
    }

    #follow-me {
        display: flex;
        justify-content: left;
        gap: 8px;
    }

    #follow-me img {
        width: 18px;
    }

    #follow-me img:hover {
        cursor: pointer;
    }

    .copyright {
        color: #bdbdbd;
        font-size: 14px;
    }
}