@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        width: 35px;
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease;
        /* Optional, for general transitions */
    }

    .hamburger span {
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 2px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    /* Rotation when hamburger is active */
    .hamburger.active span:nth-child(1) {
        transform: rotate(40deg) translateY(10px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
        /* Hide the middle line */
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-40deg) translateY(-10px);
    }

}







@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 25px;
        width: 40px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10;
        /* Ensure it sits on top of other elements */
    }

    .hamburger span {
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 2px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translateY(13px);
    }
    
    .hamburger.active span:nth-child(2) {
        opacity: 0; /* Hide the middle line */
    }
    
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-13px);
    }
}






@media screen and (min-width: 1024px) {
    .hamburger {
        display: none;
    }
}