@media screen and (max-width: 768px) {
    .about-me {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 260px;
        margin: 0 auto;
    }

    .details {
        display: flex;
        flex-direction: column;
        width: 260px;
        gap: 20px;
        color: #ffffffe5;
    }


    .sub-details {
        display: flex;
        flex-direction: column;
        gap: 7px;
        color: #ffffffe5;
        width: 250px;
    }

    .home-title {
        margin: 0;
        font-size: 19px;
        width: 100%;
    }

    .subtitle {
        margin: 0;
        font-size: 12px;
    }

    .home-text {
        margin: 0;
        font-size: 8px;
    }


    .My-pic {
        width: 150px;
        border-radius: 400px;
    }

    .about-me div {
        height: 150px;
        width: auto;
    }
}







@media screen and (min-width: 768px) and (max-width: 1023px) {
    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        height: 254px;
    }

    .details {
        display: flex;
        flex-direction: column;
        width: 410px;
        gap: 20px;
        color: #ffffffe5;
    }


    .sub-details {
        display: flex;
        flex-direction: column;
        gap: 7px;
        color: #ffffffe5;
        width: 370px;
    }

    .home-title {
        margin: 0;
        font-size: 30px;

    }

    .subtitle {
        margin: 0;
        font-size: 18px;
    }

    .home-text {
        margin: 0;
        font-size: 12px;
    }


    .My-pic {
        width: 250px;
        border-radius: 400px;
    }


}










@media screen and (min-width : 1024px) {


    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 300px;
    }

    .details {
        display: flex;
        flex-direction: column;
        width: 500px;
        gap: 20px;
        color: #ffffffe5;
    }


    .sub-details {
        display: flex;
        flex-direction: column;
        gap: 7px;
        color: #ffffffe5;
        width: 450px;
    }

    .home-title {
        margin: 0;
        font-size: 40px;

    }

    .subtitle {
        margin: 0;
    }

    .home-text {
        margin: 0;
    }



    .My-pic {
        width: 300px;
        border-radius: 400px;
    }

}