@media screen and (min-width : 1201px) {


    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .details {
        display: flex;
        flex-direction: column;
        width: 500px;
        gap: 20px;
        color: #ffffffe5;
    }


    .sub-details {
        display: flex;
        flex-direction: column;
        gap: 7px;
        color: #ffffffe5;
        width: 450px;
    }

    .title {
        margin: 0;
        font-size: 40px;

    }

    .subtitle {
        margin: 0;
    }

    .text {
        margin: 0;
    }

    .links {
        font-size: 20px;
        font-weight: 600;
        font-family: sans-serif;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .links a {
        padding: 60px 32px;
        border-radius: 500px;
        border: 1px solid white;
        color: white;
        transition: 600ms;
    }

    .links a:hover {
        background-color: rgba(0, 0, 0, 0) !important;
        
    }

    .links a:first-child {
        background-color: #FF7F50;
    }

    .links a:nth-child(2) {
        background-color: #000080;
    }
    .links a:last-child {
        background-color: #800020;
    }

    .My-pic {
        width: 300px;
        border-radius: 400px;
    }
}