@media screen and (min-width: 1201px) {
    .pages {
        display: flex;
        flex-direction: column;
        color: #ffffffe5;
        width: 1150px;
        margin: 0 auto;
        gap: 80px;
    }

    .pages span:hover {
        cursor: pointer;
    }

    .pages-title {
        font-size: 60px;
        margin: 0;
        width: 100%;
    }

    .left-part-container {
        width: 450px;
    }

    .right-part-container {
        width: 550px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .pages-section {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .pages-section h2 {
        margin: 0;
    }

    .right-part {
        display: flex;
        justify-content: space-between;
    }

    .right-part p {
        margin: 0;
    }

    .det {
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 10px;
    }

    .det h3 {
        margin: 0;
    }

    .det ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .det img{
        border-radius: 10px;
    }
    .det img:hover{
        cursor: pointer;
    }
    .pages-line {
        border: 1px solid rgb(129, 129, 129);
    }
}