@media screen and (max-width: 768px) {
    .pages {
        display: flex;
        flex-direction: column;
        color: #ffffffe5;
        width: 280px;
        margin: 0 auto;
        gap: 50px;
        font-size: 12px;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .download-resume {
        margin: 0;
        color: gray;
        border-bottom: 1px solid blue;
        font-size: 12px;
    }

    .page-top h3 {
        font-size: 14px;
    }

    .pages span:hover {
        cursor: pointer;
    }

    .pages-title {
        font-size: 25px;
        margin: 0;
        width: 100%;
    }

    .left-part-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 280px;
    }

    .left-part-container p {
        margin: 0;
    }

    .left-part-container img {
        width: 23px;
    }

    .left-part-container img:hover {
        cursor: pointer;
    }


    .right-part-container {
        width: 280px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .pages-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .pages-section h2 {
        margin: 0;
        font-size: 18px;
    }

    .right-part {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .right-part p {
        margin: 0;
        font-size: 12px;
    }

    .det {
        display: flex;
        flex-direction: column;
        width: 280px;
    }

    .det h3 {
        margin: 0;
        font-size: 14px;
    }

    .det ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .det li {
        font-size: 12px;
    }

    .det img {
        border-radius: 10px;
    }

    img:hover {
        cursor: pointer;
    }

    .imagedet {
        min-height: 140px;
    }

    .pages-line {
        border: 1px solid rgb(129, 129, 129);
    }
}







@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pages {
        display: flex;
        flex-direction: column;
        color: #ffffffe5;
        width: 750px;
        margin: 0 auto;
        gap: 40px;
    }

    .title-container {
        display: flex;
        align-items: baseline;
    }

    .download-resume {
        margin: 0;
        color: gray;
        border-bottom: 1px solid blue;
    }

    .download-resume:hover {
        cursor: pointer;
    }

    .pages span:hover {
        cursor: pointer;
    }

    .pages-title {
        font-size: 40px;
        margin: 0;
        width: 100%;
    }

    .left-part-container {
        width: 340px;
    }

    .left-part-container img {
        width: 30px;
    }

    .left-part-container img:hover {
        cursor: pointer;
    }

    .right-part-container {
        width: 410px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .pages-section {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .pages-section h2 {
        margin: 0;
        font-size: 18px;
    }

    .right-part {
        display: flex;
        justify-content: space-between;
    }

    .right-part p {
        margin: 0;
        font-size: 10px;
    }

    .det {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 10px;
    }

    .det h3 {
        margin: 0;
        font-size: 14px;
    }

    .det ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .det li {
        font-size: 12px;
    }

    .det img {
        border-radius: 10px;
    }

    .det img:hover {
        cursor: pointer;
    }

    .pages-line {
        border: 1px solid rgb(129, 129, 129);
    }
}








@media screen and (min-width: 1024px) {
    .pages {
        display: flex;
        flex-direction: column;
        color: #ffffffe5;
        width: 1000px;
        margin: 0 auto;
        gap: 80px;
    }

    .title-container {
        display: flex;
        align-items: baseline;
    }

    .download-resume {
        margin: 0;
        color: gray;
        border-bottom: 1px solid #0004ff;
    }

    .pages span:hover {
        cursor: pointer;
    }

    .pages-title {
        font-size: 60px;
        margin: 0;
        width: 100%;
    }

    .left-part-container {
        width: 450px;
    }

    .left-part-container img {
        width: 30px;
    }

    .left-part-container img:hover {
        cursor: pointer;
    }

    .right-part-container {
        width: 550px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .pages-section {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .pages-section h2 {
        margin: 0;
    }

    .right-part {
        display: flex;
        justify-content: space-between;
    }

    .right-part p {
        margin: 0;
        font-size: 14px;
    }

    .det {
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 10px;
    }

    .det h3 {
        margin: 0;
    }

    .det ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .det img {
        border-radius: 10px;
    }

    .det img:hover {
        cursor: pointer;
    }

    .pages-line {
        border: 1px solid rgb(129, 129, 129);
    }
}