@media screen and (max-width: 768px) {
    .pages {
        display: flex;
        flex-direction: column;
        color: #ffffffe5;
        width: 280px;
        margin: 0 auto;
        gap: 20px;
    }
    .page-top h3{
        font-size: 16px;
    }

    .pages span:hover {
        cursor: pointer;
    }

    .pages-title {
        font-size: 40px;
        margin: 0;
        width: 100%;
    }

    .left-part-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 280px;
    }

    .left-part-container p{
        margin: 0;
    }

    .right-part-container {
        width: 280px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .pages-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .pages-section h2 {
        margin: 0;
        font-size: 18px;
    }

    .right-part {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .right-part p {
        margin: 0;
        font-size: 12px;
    }

    .det {
        display: flex;
        flex-direction: column;
        width: 280px;
    }

    .det h3 {
        margin: 0;
        font-size: 14px;
    }

    .det ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .det li{
        font-size: 12px;
    }
    .det img{
        border-radius: 10px;
    }
    .det img:hover{
        cursor: pointer;
    }
    .pages-line {
        border: 1px solid rgb(129, 129, 129);
    }
}







@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pages {
        display: flex;
        flex-direction: column;
        color: #ffffffe5;
        width: 750px;
        margin: 0 auto;
        gap: 40px;
    }

    .pages span:hover {
        cursor: pointer;
    }

    .pages-title {
        font-size: 40px;
        margin: 0;
        width: 100%;
    }

    .left-part-container {
        width: 340px;
    }

    .right-part-container {
        width: 410px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .pages-section {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .pages-section h2 {
        margin: 0;
        font-size: 18px;
    }

    .right-part {
        display: flex;
        justify-content: space-between;
    }

    .right-part p {
        margin: 0;
        font-size: 10px;
    }

    .det {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 10px;
    }

    .det h3 {
        margin: 0;
        font-size: 14px;
    }

    .det ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .det li{
        font-size: 12px;
    }
    .det img{
        border-radius: 10px;
    }
    .det img:hover{
        cursor: pointer;
    }
    .pages-line {
        border: 1px solid rgb(129, 129, 129);
    }
}








@media screen and (min-width: 1024px) {
    .pages {
        display: flex;
        flex-direction: column;
        color: #ffffffe5;
        width: 1000px;
        margin: 0 auto;
        gap: 80px;
    }

    .pages span:hover {
        cursor: pointer;
    }

    .pages-title {
        font-size: 60px;
        margin: 0;
        width: 100%;
    }

    .left-part-container {
        width: 450px;
    }

    .right-part-container {
        width: 550px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .pages-section {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .pages-section h2 {
        margin: 0;
    }

    .right-part {
        display: flex;
        justify-content: space-between;
    }

    .right-part p {
        margin: 0;
        font-size: 14px;
    }

    .det {
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 10px;
    }

    .det h3 {
        margin: 0;
    }

    .det ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .det img{
        border-radius: 10px;
    }
    .det img:hover{
        cursor: pointer;
    }
    .pages-line {
        border: 1px solid rgb(129, 129, 129);
    }
}